@tailwind base;
@tailwind components;
@tailwind utilities;


#navbar{
    background-color: #da1d81;
    height: 100px;
    padding: 0;
    margin: 0;
    color: white;
   

    
}

a{
    margin-left: 60px;
    
}

#logo{
    
    font-style: italic;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#posit{
    position: sticky
   
}